<div data-animation="default" class="navbar1_component alt w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="none" data-w-id="85005b0e-37e8-241b-8c55-e04f24c3b1af" role="banner" data-duration="400">
      <div class="navbar1_container">
        <a href="{{ links.2f }}" class="navbar1_logo-link w-nav-brand"><img src="{{ images.-2a484e45.url }}" loading="lazy" alt="{{ images.-2a484e45.alt | trim | escape }}" class="navbar1_logo"></a>
      </div>
    </div>